{% extends "common/index.html" %}
{% load static %}
{% block title %}Products{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>new arrivals</h4>
              <h2>sixteen products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">All Products</li>
                  <li data-filter=".des">Featured</li>
                  <li data-filter=".dev">Flash Deals</li>
                  <li data-filter=".gra">Last Minute</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                  {% for product in products %}
                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <a href="#"><img style="height: 10em; object-fit: cover;" src="{{ product.image_url }}" alt=""></a>
                        <div class="down-content">
                        <a href="#"><h4>{{ product.name }}</h4></a>
                        <h6>${{ product.price }}</h6>
                        <p>{{ product.desc|truncatechars:35 }}</p>
                        <ul class="stars">
                            {% for i in rating_range %}
                                <li>
                                    <i 
                                        class="fa fa-star" 
                                        {% if forloop.counter > product.avg_rating %}
                                        style="color:#121212;"
                                        {% endif %}
                                        >
                                    </i>
                                </li>
                            {% endfor %}
                        </ul>
                        <span>Reviews ({{product.reviews.count}})</span>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
          </div>
          <div class="col-md-12">
            <ul class="pages">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}