{% extends "common/index.html" %} 
{% load static %} 
{% block title %}Products{% endblock %} 

{% block content %}
<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>new arrivals</h4>
          <h2>sixteen products</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filters">
          <ul>
            <li class="active allp"><a href="">All Products</a></li>
            <li class="featured"><a href="">Featured</a></li>
            <li class="flashp"><a href="">Flash Deals</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="filters-content">
          <div class="row grid">
            {% for product in products %}
              <div class="col-lg-4 col-md-4 product-list">
                {% include "shop/product_list_item.html" %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        {% if is_paginated %}
        <ul class="pages">
          {% if page_obj.has_previous  %}
            <li>
              <a href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-double-left"></i></a>
            </li>
            {% if page_obj.number != 2 %}
              <li><a href="?page=1">1</a></li>...
            {% endif %}
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="active"><a href="?page={{num}}">{{num}}</a></li>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
              <li><a href="?page={{num}}">{{num}}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            {% if page_obj.number != page_obj.paginator.num_pages|add:'-1' %}
              ...<li><a href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>
            {% endif %}
            <li>
              <a href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-double-right"></i></a>
            </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
