{% extends 'common/index.html' %} {% load static %} {% load crispy_forms_tags %}
{% block title %} Email Verification Failed {% endblock %}
{% block content %}

  <div class="card custom-card" style="padding: 10em 30em 5em 30em">
    <div class="card-header">
      <h5 class="card-title">Email Verification Failed</h5>
    </div>
    <div class="card-body">
      <p>Sorry! This link is invalid, expired or has been used already!.</p>
      <p>To receive a new email <a href="{% url "resend-verification-email" %}">Click Here!</a></p>
    </div>
  </div>

{% endblock %}
