{% extends 'index.html' %}
{% load static %}
{% block title %}Request Reset Password{% endblock %}
{% block content %}
    <!-- Header Section -->
    <div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">REQUEST RESET PASSWORD</h1>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="row py-5 justify-content-center">
                <div class="col-10 col-md-6 signup-form px-5 py-2">
                    <div class="form-head text-center mb-5">
                        <h3>Request Reset Password</h3>
                    </div>
                    <div class="form-body">
                        <p style="font-weight: bold; margin-bottom: 10px;">Forgotten your password? <br>Enter your email address below and we'll email instructions for setting a new one.</p>
                        <form method="POST" class="">
                          {% csrf_token %}
                           <div class="vstack gap-3 m-0 p-0">
                            <div class="">
                                <span>
                                    <label for="lastname">Your Email Address*</label>
                                    {{form.email}}
                                </span>
                            </div>
                            <div class="">
                                <span>
                                    <button type="submit" class="w-100 btn btn-success mt-1">SEND EMAIL</button>
                                </span>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
