{% extends 'common/index.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}

<div class="card custom-card" style="padding: 10em 30em 5em 30em;">
    <div class="card-header">
        <h5 class="card-title">PASSWORD RESET COMPLETE</h5>
    </div>
    <div class="card-body">
        <div class="form-head text-center mb-5">
            <h3>Your password has been set!</h3>
            <p>Proceed to Login!</p>
        </div>
        <div class="form-body">
            <div class="">
                <span>
                    <a href="{% url 'login' %}" class="w-100 btn btn-success mt-1">LOGIN</a>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}