{% extends 'common/index.html' %}
{% load static %}
{% block title %}Request Password Reset{% endblock %}
{% block content %}

<div class="card custom-card" style="padding: 10em 30em 5em 30em;">
    <div class="card-header">
        <h5 class="card-title">REQUEST PASSWORD RESET</h5>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <span>
                <label for="email">Your Email Address*</label>
                {{form.email}}
            </span>
            <button type="submit" class="btn btn-primary mt-3">SEND EMAIL</button>
        </form>
    </div>
</div>
{% endblock %}