{% extends 'common/index.html' %}
{% load static %}
{% block title %}Password Reset Sent{% endblock %}
{% block content %}

<div class="card custom-card" style="padding: 10em 30em 5em 30em;">
    <div class="card-header">
        <h5 class="card-title">PASSWORD RESET SENT</h5>
    </div>
    <div class="card-body">
        <h3>Email Sent</h3>
        <p>Remembered your password? <a class="fw-bold text-danger" href="{% url 'login' %}">Back to login!</a></p>
        <div class="form-body">
            <p style="font-weight: bold; margin-bottom: 10px;">We've emailed you with instructions for resettng your password. If an account exists with the email you entered, you should receive it shortly</p>
            <p style="font-weight: bold; margin-bottom: 10px;">If you didn't receive an email, make sure you've entered the email address you registered with, and check your spam folder.</p>
        </div>
    </div>
</div>
{% endblock %}