{% extends 'index.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
    <!-- Header Section -->
    <div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">PASSWORD RESET COMPLETE</h1>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="row py-5 justify-content-center">
                <div class="col-10 col-md-6 signup-form px-5 py-2">
                    <div class="form-head text-center mb-5">
                        <h3>Your password has been set!</h3>
                        <p>Proceed to Login!</p>
                    </div>
                    <div class="form-body">
                        <div class="">
                            <span>
                                <a href="{% url 'login' %}" class="w-100 btn btn-success mt-1">LOGIN</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
