{% extends 'common/index.html' %}
{% load static %}
{% block title %}Password Reset Form{% endblock %}
{% block content %}

<div class="card custom-card" style="padding: 10em 30em 5em 30em;">
    <div class="card-header">
        <h5 class="card-title">PASSWORD RESET FORM</h5>
    </div>
    <div class="card-body">
        <div class="form-head text-center mb-5">
            {% if form %}
            <h3>Enter your new password</h3>
            <p>Or remembered your password? <a class="fw-bold text-danger" href="{% url 'login' %}">Back to Login!</a></p>
            {% else %}
            <h3>INVALID TOKEN</h3>
            {% endif %}
        </div>
        <div class="form-body">
            {% if not form %}
            <h5>The Password reset token is invalid or expired</h3>
            <a class="fw-bold text-danger" href="{% url 'login' %}">Back to Login!</a>
            {% else %}
            <form method="POST" class="">
                {% csrf_token %}
                <div class="vstack gap-3 m-0 p-0">
                {% for field in form %}
                    <div class="">
                        <span>
                            <label for="{{field.name}}">{{field.label}}*</label>
                            {{field}}
                            {% for error in field.errors  %}
                                <p style="text-align: left; margin-top: 5px; font-size: 12px; color: red;">{{error}}</p>
                            {% endfor %}
                        </span>
                    </div>
                {% endfor %}
                <div class="">
                    <span>
                        <button type="submit" class="w-100 btn btn-success mt-1">UPDATE PASSWORD</button>
                    </span>
                </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
