{% extends 'index.html' %}
{% load static %}
{% block title %}Password Reset Sent{% endblock %}
{% block content %}
    <!-- Header Section -->
    <div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">PASSWORD RESET SENT</h1>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="row py-5 justify-content-center">
                <div class="col-10 col-md-6 signup-form px-5 py-2">
                    <div class="form-head text-center mb-5">
                        <h3>Email Sent</h3>
                        <p>Remembered your password? <a class="fw-bold text-danger" href="{% url 'login' %}">Back to login!</a></p>
                    </div>
                    <div class="form-body">
                        <p style="font-weight: bold; margin-bottom: 10px;">We've emailed you with instructions for resettng your password. If an account exists with the email you entered, you should receive it shortly</p>
                        <p style="font-weight: bold; margin-bottom: 10px;">If you didn't receive an email, make sure you've entered the email address you registered with, and check your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
