{% extends 'index.html' %}
{% load static %}
{% block title %}Reset Password Form{% endblock %}
{% block content %}
    <!-- Header Section -->
    <div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">RESET PASSWORD FORM</h1>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="row py-5 justify-content-center">
                <div class="col-10 col-md-6 signup-form px-5 py-2">
                    <div class="form-head text-center mb-5">
                        {% if form %}
                        <h3>Enter your new password</h3>
                        <p>Or remembered your password? <a class="fw-bold text-danger" href="{% url 'login' %}">Back to Login!</a></p>
                        {% else %}
                        <h3>INVALID TOKEN</h3>
                        {% endif %}
                    </div>
                    <div class="form-body">
                        {% if not form %}
                        <h5>The Password reset token is invalid or expired</h3>
                        <a class="fw-bold text-danger" href="{% url 'login' %}">Back to Login!</a>
                        {% else %}
                        <form method="POST" class="">
                          {% csrf_token %}
                           <div class="vstack gap-3 m-0 p-0">
                            {% for field in form %}
                                <div class="">
                                    <span>
                                        <label for="{{field.name}}">{{field.label}}*</label>
                                        {{field}}
                                        {% for error in field.errors  %}
                                            <p style="text-align: left; margin-top: 5px; font-size: 12px; color: red;">{{error}}</p>
                                        {% endfor %}
                                    </span>
                                </div>
                            {% endfor %}
                            <div class="">
                                <span>
                                    <button type="submit" class="w-100 btn btn-success mt-1">UPDATE PASSWORD</button>
                                </span>
                            </div>
                          </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
